extends ../../layouts/default.pug
include ../../mixins/box-head.pug
include ../../mixins/topic-box.pug

block main 
  div(class="ms_genres_wrapper")
    .row
      .col-lg-12
        div(class="ms_heading")
          h1 chủ đề
      div(class="ms_genres_item")
        .row
          each topic in topics
            .col-lg-3
              +topicBox(topic)