sider.sider 
  div(class="ms_sidemenu_wrapper")
    div(class="ms_nav_close")
      i.fa.fa-angle-right(aria-hidden="true")
    div(class="ms_sidemenu_inner")
      div(class="ms_logo_inner")
        div(class="ms_logo")
          a(href="/")
            img.img-fluid(src="/images/logo.png", alt="logo")
        div(class="ms_logo_open")
          a(href="/")
            img.img-fluid(src="/images/open_logo.png", alt="logo")
      div(class="ms_nav_wrapper")
        ul
          li
            a(href="/", title="Home")
              span(class="nav_icon")
                span(class="icon icon_discover")
              span(class="nav_text")
                | trang chủ
          li
            a(href="/singers", title="Singers")
              span(class="nav_icon")
                span(class="icon icon_artists")
              span(class="nav_text")
                | ca sĩ
          li
            a(href="/topics", title="Topics")
              span(class="nav_icon")
                span(class="icon icon_genres")
              span(class="nav_text")
                | chủ đề
          li
            a(href="/favorite-songs", title="Favourites")
              span(class="nav_icon")
                span(class="icon icon_favourite")
              span(class="nav_text")
                | nhạc yêu thích